# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Chicken chicken'
      'command': 'chicken:convert'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'chicken'
      'submenu': [
        {
          'label': 'Chicken'
          'command': 'chicken:convert'
        }
      ]
    ]
  }
]
